body{
    font-size: 15px;
}
.dropdown-menu a {
    font-size: 14px;
    font-size: 1em;
}
.main-sidebar .sidebar-menu li a{
    font-size: 14px;
    font-size: 1em;
}
.main-wrapper-1 .section .section-header {
    margin-left: -20px;
}
.section .section-header h1{
    font-size: 1.2em;
}
.main-content {
    padding-left: 260px;
}
.row {
    margin-right: 5px;
    margin-left: 5px;
}

.table{line-height: 1;}
.h3, h3 {font-size: 1.2rem;}
/*Estilos sobre el login*/
.titulo-scjn{
    h3{
        color:#251462;        
    }
}
.car_login{
    font-size: 14px;
}
.logo-login {
    position: relative;
    z-index: 1000;
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 130px;
    width: 130px;
    margin-bottom: -23px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-color: #d9d9d9;
    background-position: 50%;
    border-radius: 20%;
    background-size: 100% auto;
    box-shadow: 0px 5px 5px #b2aeae;
}

.card .card-header h4 {
    margin: 10px auto 0;
    color: #484848;
    font-size: 24px;;
}
.login-brand {
    position: relative;
    margin: 0;
    margin-bottom: 0;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #666;
    text-align: center;
  }

.card .card-body .btn-login-ingresar{
    font-size: 15px;
    width: 75%;
    margin:0 auto;
}

  /*Cierre estilos sobre login*/
.card .card-header {
   min-height: 40px;  
}

.card .card-header, .card .card-body, .card .card-footer {
    padding: 10px;
}
.main-sidebar .sidebar-menu li a i {
    margin-right: 10px;
}

/* Estilos cabecera */
.navbar {
    height: 55px;
}
.navbar .nav-link{
    color:#3764a9;
}
.navbar .nav-link:hover{
    color:#3764a9;
}
.navbar .active .nav-link {
    color: #3220b5;
    font-weight: 700;
  }
.navbar-bg {
    background-color: #C2C6CC;
}
.navbar .nav-link.nav-link-user img {
    object-fit: cover;
    width: 35px;
    padding:3px;
}
.main-sidebar .sidebar-brand a {
    display: block;
    margin-top: -5px;    
}
.navbar-nav .carpool-random-pic, .main-sidebar .sidebar-brand a img {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    background-repeat: no-repeat;
    background-color: #f3f5f8;
    background-color: #afb1b4;
    border:.5px solid transparent;
    background-position: 50%;
    border-radius: 20%;
    background-size: 100% auto;
    //box-shadow: 0px 5px 5px #b2aeae;
    box-shadow: 0px 1px 3px #b2aeae;
}
.main-sidebar .sidebar-brand a img.logo_cjf{
    background-color: #997CA9; 
}

  /*Cierre estilos sobre cabecera*/

/* estilos main content */
.main-content {
    padding-top: 65px;
    padding-right: 5px;
}

/* Cierre de estilos de main content*/

/* Estilos sobre perfil usuario*/
.card.card-statistic-1 .card-header, .card.card-statistic-2 .card-header {
    padding-bottom: 0;
    padding-top: 10px;
}
.card.card-statistic-1 .card-header h4, .card.card-statistic-2 .card-header h4 {
    margin: 5px auto 10px ;
    font-size: 15px;
}
.card.card-statistic-1 .card-body {
    font-size: 13px;
    font-weight: 400;
    font-family: "Nunito", "Segoe UI", arial;
    color: #6c757d;
}
.card.card-statistic-1 .card-icon .ion, .card.card-statistic-1 .card-icon .fas, .card.card-statistic-1 .card-icon .far, .card.card-statistic-1 .card-icon .fab, .card.card-statistic-1 .card-icon .fal, .card.card-statistic-2 .card-icon .ion, .card.card-statistic-2 .card-icon .fas, .card.card-statistic-2 .card-icon .far, .card.card-statistic-2 .card-icon .fab, .card.card-statistic-2 .card-icon .fal {
    font-size: 30px;
    color: #fff;
}
.card.card-statistic-1 .autoInfo .card-header{
    padding-top:4px;
}
.card.card-statistic-1 .autoInfo .card-header h4{
    margin: 3px auto;
}
.autoInfo .card-body p{
    margin:0 auto 5px;
}
.colorCar{
    display: inline-block;
    width:15px;
    height: 15px;
    background-repeat: no-repeat;
    border:.5px solid transparent;
    margin-bottom: -2px;
    padding:3px;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    //box-shadow: 0px 5px 5px #b2aeae;
    box-shadow: 0px 1px 3px #b2aeae;
}
p, ul:not(.list-unstyled), ol {
    line-height: 19px;
}

.profile-widget .profile-widget-items .profile-widget-item .profile-widget-item-label {
    font-size: 13px;
    padding: 0 10px;
}
span.fechaCreacionUsuario{
    font-size: 11px;
    font-weight: 400;
    font-family: "Nunito", "Segoe UI", arial;
    color: #6c757d;
  }

.profile-widget .rounded-circle{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    width: 100px;
    height: 100px;
    background-color: #fff;
    padding: 3px;
}
.profile-widget .middle {
    width: 99px;
    height: 99px;
    position:absolute;
    margin: -35px -5px 0 30px;
    z-index: 2;
    background-color: #f3f5f8;
    border-radius: 50% !important;
    transition: .5s ease;
    opacity: 0;
    text-align: center;
    .text{
        text-align: center;
        margin:40px auto;
        z-index: 2;
        a{
            font-weight: bold;
        }
    }
}
.middleCredencial {
    width: 215px;
    height: 141px;
    position:absolute;
    margin: 0;
    top:42px;
    z-index: 2;
    background-color: #f3f5f8;
    transition: .5s ease;
    opacity: 0;
    text-align: center;
    .text{
        text-align: center;
        margin:65px auto;
        z-index: 2;
        a{
            font-weight: bold;
        }
    }
}
.container-foto:hover img, .container-credencial:hover img{
    opacity: 0.3;
}
  
.container-foto:hover .middle, .container-credencial:hover .middleCredencial  {
    opacity: .7;
}
@media (max-width: 575.98px){
.profile-widget .profile-widget-picture {
  left: 50%;
  transform: translate(-50%, 0);
  margin: 20px 0;
  float: none;
}
.container-foto .middle {
    top:0;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 20px 0;
    float: none;
  }
}
.show_profile .fade:not(.show) {
    opacity: 0;
    
}

/* Cierran estilos sobre perfil usuario*/


/*
* Estilos para el formulario de registro de usuario
*/

.card-registro .form-group {
    margin-bottom: 15px;
}
.card-registro .card-header{
    margin-bottom: 10px;
    padding:15px;
}

.card-registro .checkbox-confirmar{
    display: flex;
    align-items: center;
}

.form-check-input {
    position: absolute;
    margin-top: .2rem;
    margin-left: -1.25rem;
}

.form-group label{
    font-size: 1.1em;
    font-weight: bold;
}


@media (max-width: 1024px){
    .main-content {
        padding-left: 20px;
        padding-right: 5px;
        width: 100% !important;
    }
}
/*
Estilos sobre el formulario para crear viajes compartidos
*/
.nav-tabs .nav-item  .nav-link.active {
    color: #6777ef;
    border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-item .nav-link {
    color: #495057;
  }

.formCViajeComp .home-work label{
     font-size: 14px;
}

.formCViajeComp .article .article-header{
    height: 35px;
    background-color: #6c4772;
    h5{
        font-size: 1.1em;
        color:white;
        margin-top:.5rem;
        text-align: center;
    }
}

.formCViajeComp .article-vc #fecha_hr_vc{
    //border-radius: 10% !important;
    color:#051252;
}
.formCViajeComp .article-vc .activity .activity-icon {
    padding:3px;
    i{
        font-size: 25px;
    }
}

.article-vc .activities .activity .activity-icon {
    margin-right: 10px;
}
.article-vc .activities .activity .activity-detail {
    padding: 8px;
}
.article-vc .activities .activity .activity-detail  #hora_partida_vc, .article-vc .activities .activity .activity-detail  #hora_llegada_vc{
    font-size: 14px;
}
.viajesCompartido .article-vc .activities .activity .activity-detail #hora_partida_vc, .viajesCompartido .article-vc .activities .activity .activity-detail #hora_llegada_vc {
    font-size: .8rem;
  }

.blockquote p::after {
    content: '"';
    font-size: 30px;
    position: relative;
    top: 5px;
    left: 5px;
    opacity: .2;
}
.article-vc .carousel{
    //background-color: #e1e2e4;
    box-shadow: 0 2px 4px rgba(11, 11, 11, 0.2);
    background-color: #fff;
    min-height: 100px;
    color: #34395e;
}
.article-vc .carousel {
    max-height: 100px;
}

.article-vc .carousel .carousel-inner .carousel-item .row {
    padding:5px;
    min-height: 40px;
    max-height: 80px;
}
.article-vc .carousel .carousel-inner .carousel-item .row h3{
    font-size: 12px;
    margin:0;
}
.article-vc .carousel #anuncioPasajeros{
    max-height: 60px;
    overflow-y: auto;
    font-size: 11px;
    line-height: 16px;
}
.article-vc .carousel .carousel-inner .carousel-item .row .col i.icon{ 
    font-size: 15px;
}
.article-vc .carousel .carousel-inner .carousel-item .row .icons-details > *{
    margin: 0 5px 0 0;
}
.article-vc .carousel .carousel-inner .carousel-item .row .material-icons{
    display: inline-block;
    font-size: 18px;
}
.flex-container { 
    display: flex;
    flex-direction: row;
    align-items:center;
    align-content:  space-between;
}
.article-vc .carousel .carousel-control-prev-icon, .article-vc .carousel  .carousel-control-next-icon {
    color:#6777ef;
}

.article-vc .carousel-control-next, .carousel-control-prev, .article-vc .carousel-control-next, .carousel-control-next {
    width: 5%;
}
.carousel-control-prev-icon { 
    //background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%6777ef0' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%235a6268' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
    width: 20px;
    height: 20px;
    fill:"#6777ef";
}
.carousel-control-next-icon { 
    //background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%6777ef0' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%235a6268' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
    fill:"#6777ef";
    width: 20px;
    height: 20px;
}
.resultBuscadorMap{
    max-height: 150px;
    overflow-y: auto;
    scrollbar-width: thin;  
}
/* .article-vc .carousel  .carousel-control-next-icon{
    position: relative;
    right: -15px;
} */

/*
Estilos sobre misViajesIda 
*/
.viajesCompartido .section-header h3{
 font-size: 1.15rem;
}
.viajesCompartido .card h3{
    font-size: 1.05rem;
}
.viajesCompartido .home-work label{
    font-size: 14px;
}

.viajesCompartido .article{
    margin-bottom: 10px;
    height: 412px;
}
.viajesCompartido .article .article-header{
   height: 25px;
   background-color: #6c4772;
   h5{
       font-size: 1em;
       color:white;
       margin-top:.3rem;
       text-align: center;
   }
}
.viajesCompartido .article  .article-details{
    padding: 5px;
    line-height: 16px;
    .article-category{
        font-size: 0.62em;
    }
    .activities .activity .activity-icon {
        width: 30px;
        height: 30px;
        line-height: 22px;        
    }
}

.viajesCompartido .article .activities .activity .activity-detail p {
    height: 70px;
    margin-bottom: 0;
    /* cambiar el estilo por defecto de la barra de scroll */
    overflow-y: auto;
    scrollbar-width: thin;    
}

.text-job {
    font-size: 14px;
}

.viajesCompartido .article  .article-details .text-job{
    font-size: 9px;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.viajesCompartido .article #datosVeh{
    //word-wrap: break-word;
    //white-space: nowrap;
    //text-overflow: ellipsis;
    //overflow: hidden;
    height: 35px;
    overflow-y: auto;
    scrollbar-width: thin;
    font-size: 11px;
    line-height: 16px;
}

.viajesCompartido .article-vc  .article-details .carousel {
    font-size: 11px;
    min-height: 90px;
    height: 90px;
}

.viajesCompartido .article-vc .carousel .carousel-inner .carousel-item .row {
    padding: 5px;    
    height: 30px;
    min-height: 30px;
    max-height: 30px;
}

.viajesCompartido .article-vc .carousel .carousel-inner .carousel-item .row.anuncioPasajeros {
    height: 80px;
    max-height: 80px;
}

.viajesCompartido .article-vc .carousel #anuncioPasajeros {
    height: 58px;
    max-height: 58px;
    overflow-y: auto;
    scrollbar-width: thin;
    font-size: 11px;
    line-height: 16px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;

}
.col-6 {

    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;

}
.viajesCompartido .carousel .col-12, .viajesCompartido .carousel .col-10, .viajesCompartido .carousel .col-9, .viajesCompartido .carousel .col-8, .viajesCompartido .carousel .col-8, .viajesCompartido .carousel .col-6, .viajesCompartido .carousel .col-5, .viajesCompartido .carousel .col-4, .viajesCompartido .carousel .col-3, .viajesCompartido .carousel .col-2, .viajesCompartido .carousel .col-1{
    padding-right: 5px;
    padding-left: 5px;
}
.viajesCompartido .activities .activity::before {
    left: 14px;
}
.viajesCompartido .article-vc #fecha_hr_vc{
   //border-radius: 10% !important;
   color:#051252;
}
.article .article-header h5 a{
    color:#fff;
    font-weight: bold;
    text-decoration: underline;
}
.viajesCompartido .activities .activity .activity-detail{
    padding: 3px;
    margin-bottom: 15px;
    font-size: 11px;
}
.viajesCompartido .article-vc .activity .activity-icon {
   padding:3px;
   margin-right: 5px;
   i{
       font-size: 15px;
   }
}


.viajesCompartido .asientosDisp{
    display: flex; /* establish flex container */
    flex-direction: row; /* make main-axis vertical */
    justify-content: center; /* align items vertically, in this case */
    align-items: center; 
}

.formCViajeComp .home-work .article-vc .text-job{
    font-size: 12px;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.article .vc-finalizado{
    background-color: #dc3545 !important;
}
.article .vc-enprogreso{
    background-color: #ffc107 !important;
}
// Fin de estilos de misViajesIda

/*
* appPublic estilo para el template público de viajes compartidos
*/

.appPublic{
    top: 50px;
    position: relative;
}
.appPublic .main-content {
    //padding-left: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
}

.navbar {
    height: 70px;
    left: 0;
}

.navbar-bg {
    height: 70px;
}

.appPublic .navbar img.app-header-logo, .appPublic .navbar .navbar-nav{
    margin-top:-8px;
}

/*
estilos para viajes compartidos regreso publico
*/

.viajePublico .profile-widget{
    margin-top: 15px;
}
.viajePublico .article  .article-details{
    padding: 10px;
}
.viajePublico  .article-vc .activities .activity .activity-icon {
    margin-right: 5px;
}
.viajePublico .activities .activity .activity-detail {
    margin-bottom: 15px;
}
@media (max-width: 575.98px){
    .viajePublico .profile-widget .profile-widget-picture {
        margin: 5px 0;
    }
    .viajePublico .carousel .col-12, .viajePublico .carousel .col-10, .viajePublico .carousel .col-9, .viajePublico .carousel .col-8, .viajePublico .carousel .col-8, .viajePublico .carousel .col-6, .viajePublico .carousel .col-5, .viajePublico .carousel .col-4, .viajePublico .carousel .col-3, .viajePublico .carousel .col-2, .viajePublico .carousel .col-1{
        padding-right: 5px;
        padding-left: 5px;
    }
    .viajePublico .carousel{
        font-size: 12px;
    }
    .viajePublico .carousel .noneCel{
        display: none;
    }
}

#clock{
    font-weight: bold;
    vertical-align: middle;
    padding: 7px 12px;
    font-weight: 600;
    letter-spacing: .3px;
    border-radius: 30px;
    font-size: 14px;
}

/*
Viaje compartido publico de ida
*/
.vcPublico .btn-solicitar {
    line-height: 16px;
    padding: .2rem .4rem;
    border:none;
    background-color: transparent;
    color:#fff;
    &:hover {
        border-color: transparent !important;
        background-color: transparent !important;
        text-decoration: underline;
    }
}



.segVCPublico .profile-widget .rounded-circle {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    width: 40px;
    height: 40px;
    display: inline-block;
}
.segVCPublico  .table:not(.table-sm):not(.table-md):not(.dataTable) td, .segVCPublico  .table:not(.table-sm):not(.table-md):not(.dataTable) th {
    padding: 0 10px;
    height: 50px;
    vertical-align: middle;
  }

.vcCard .hiddeVC{
    width:100%;
    height:100%;
    display:block;
    position:absolute;
    top:0px;
    left:0px;
    z-index: 2;
    background-color: #f3f5f8;
    transition: .5s ease;
    opacity: 0.7;
    text-align: center;
    .text{
        color:#6c4772;
        font-weight: bold;
        font-size: 2.8em;
        text-align: center;
        margin:50px auto;
        z-index: 2;
    }
}
.vcCard .hiddeVC:hover {
    display:block;
    opacity:0.9;
}

.tituloViajeEnCurso {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.1rem;
    color: #6c4772;
}
.tituloViajeTermino{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.1rem;
    color: #93210c;
}

.formVC .hiddeVC{
    width:100%;
    height:100%;
    display:block;
    position:absolute;
    top:0px;
    left:0px;
    z-index: 2;
    background-color: #f3f5f8;
    transition: .5s ease;
    opacity: 0.7;
    text-align: center;
    .text{
        color:#6c4772;
        font-weight: bold;
        font-size: 2.8em;
        text-align: center;
        margin:50px auto;
        z-index: 2;
    }
}
.formVC .hiddeVC:hover {
    display:block;
    opacity:0.95;
}
.fechaAbordo{
    font-size: 8px;
    font-weight: bolder;
    color:#6777ef;
}
.fechaAbandono{
    font-size: 8px;
    font-weight: bolder;
}

.dropdown-list .dropdown-item {
    font-size: 10px;
}

a.disabled {
    /* Make the disabled links grayish*/
    color: gray;
    /* And disable the pointer events */
    pointer-events: none;
}

.dropdown-list .dropdown-item .time {
    margin-top: 5px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 7px;
    letter-spacing: .5px;
    text-align: right;
}

.dropdown-list .dropdown-list-icons .dropdown-item .dropdown-item-desc {
    margin-left: 10px;
    line-height: 16px;
}

.chat-box .chat-content .chat-item > img {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.chat-box .chat-content .chat-item .chat-details {
    margin-left: 50px;
}
.chat-box .chat-content .chat-item.chat-right .chat-details {
    margin-left: 0;
    margin-right: 55px;
    text-align: right;
}

.chat-box .chat-content .chat-item .chat-details .chat-time {
    margin-top: 2px;   
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 10px;
    padding-left: 10px;
}

//slider seccion ayuda
.anuncioSlide {
    background-color: rgba(108, 117, 125, 0.6) !important;
}

//error 404
.logo-error {
    position: relative;
    z-index: 1000;
    object-fit: cover;
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 150px;
    width: 150px;
    margin-bottom: -23px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-color: #d9d9d9;
    background-position: 50%;
    border-radius: 20%;
    background-size: 100% auto;
    box-shadow: 0px 5px 5px #b2aeae;
}
@media (min-width: 768px) and (max-width: 991.98px){
    .article .article-header {
       height: 35px !important;
    }
}

.input-group-text, select.form-control:not([size]):not([multiple]), .form-control:not(.form-control-sm):not(.form-control-lg) {    
    padding: 5px 6px;
}

.chat-box .chat-content {
    padding-top: 10px !important;
}

.accordion .accordion-header {
    background-color: #6c4772;
    color: #fff;
}
.accordion .accordion-header:hover {
    background-color: rgb(65, 38, 38);
}
.accordion .accordion-header, .accordion .accordion-body {
    padding: 5px 10px;
}

.mTabsSegVC{
    margin-bottom: 40px;
}
#carouselExampleCaptions .carousel-caption h5{ font-size: 2rem;}
@media (max-width: 575.98px) { 
    .carousel  .carousel-item{
        img {
            width: 85%;
            height: 70%;
        }
        .carousel-caption {
            position: absolute;
            right: 10%;
            bottom: 10px;
            left: 10%;
            z-index: 10;
            padding:10px 5px;
            color: #fff;
            text-align: center;
            p {
                font-size: 12px;
                line-height: 18px;
            }
            h5{
                font-size: 1rem;
            }
        }        
    }
    .mTabsSegVC{
        margin-bottom: 0;
    }
    #carouselExampleCaptions .carousel-item img {
        width: 100%;        
    }
    #carouselExampleCaptions .carousel-caption h5{ font-size: 1.2rem;}
}


.parallax-scjn{
    height: 350px;
    background-size:cover;
    background-position:center;
}
.slider-ayuda {
    background-color: #dedce7;
    background-image: linear-gradient(#d1d4d6, #ccc);
}

@media (max-width: 1024px){
    .main-content {
        padding-left: 10px;
        padding-right: 10px;        
    }
}

.navbar .nav-link.nav-link-lg div {
    display: inline-block;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    align-items: center;
    
}
@media (max-width: 575.98px){
    .navbar .nav-link.nav-link-lg div {
        display: inline-block;
        word-wrap: break-word;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 70px;
        align-items: center;
        
    }
}

@media (max-width: 575.98px){
    .carouselHomeMin .carousel-item img {
        width: 100%;
        height: 80%;
    }
}

.easy-autocomplete{
    width:80% !important;
}
.easy-autocomplete-container{
    width: 350px;    
}
.easy-autocomplete-container ul{
    text-decoration: none;
    padding-left: 0;
    list-style: none;
}

#marca_v1, #submarca_v1, #marca_v2, #submarca_v2{
    min-width: 230px;
}
.iconVeh{
    width: 34px;
    border: none;
    padding: 1px;
    i{
        margin: 0 auto;       
    }
}

.cargandoVC{
    //background-image: url('../../public/img/loading.gif') !important;
    background-image: url('/images/loading.gif') !important;
    background-repeat:no-repeat;
    background-position: 0 0;
    background-size: 280px 85px;
    display: block;
    width: 280px;
    height: 85px;
    margin:0 auto;
}

/*
Modal
*/
.cajaexterna {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: none;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
  }
  .cajainterna {
    background: #fff;
    border-radius: 25px;
    margin: 6em auto 0;
    position: relative;
    width: 50%;
  }
  .cajainterna img{
    width: 60%;
  }

@media (max-width: 575.98px){
    .cajainterna {
        width: 90%;        
    }
    .cajainterna img{
        width: 75%;
    }
}

  .cajacentrada {
    margin: 0 auto;
    text-align: center;
    padding: 1em;
    
  }
  .cajacentrada h2 {
    background: none repeat scroll 0 0 black;
    box-sizing: border-box;
    color: white;
    font-size: 15px;
    left: 0;
    margin: 0;
    padding: 5px;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
  }
  .cajacentrada p {
    margin-top: 30px;
  }
  .cerrar {
    position: absolute;
    right: 16px;
    top: 13px;
  }


  .ocultar {
    display: none;
  }
  
  .mostrar {
    display: block;
  }
  
  .cclContent {
    padding: 0.5rem;
    border: 1px solid #d7d7da;
    box-shadow: 0px 2px 2px rgba(199, 199, 199, 0.6);
  }
  .cclContent p {
    margin: 0.5rem 0;
  }
  
  .cardActlab .card .card-head {
    position: relative;
  }
  
  .card-head .textCardAct {
    position: absolute;
    bottom: 15%;
  }
  .card-head .textCardAct:last-child {
    bottom: 0;
  }
  .card-head .textCardAct h5 {
    font-size: 1rem !important;
    color: #fff !important;
  }
  .card-head .textCardAct p {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 5px 0;
    font-size: 12px;
    line-height: 16px;
    color: #000;
  }
  .card-head .textCardAct a {
    display: block;
    text-align: center;
    background-color: #fff;
    color: #b58f67;
    margin: 3px auto;
    width: 80%;
  }
  .card-head .textCardAct a:hover {
    color: #6d6051;
  }
  
  .cardActlab .card .card-head {
    position: relative;
  }
  
  .derLaborales .cardActlab .card-head {
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .derLaborales .card-head .textCardAct {
    position: absolute;
    bottom: 15%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .derLaborales .card-head .textCardAct:last-child {
    bottom: 0;
  }
  .derLaborales .card-head .textCardAct h5 {
    font-size: 0.9rem !important;
    color: #b58f67 !important;
  }
  .derLaborales .card-head .textCardAct p {
    background-color: transparent;
    margin: 5px 0;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
  }
  .derLaborales .card-head .textCardAct li {
    margin: 5px 0;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
  }
  .derLaborales .card-head .textCardAct a {
    display: block;
    text-align: center;
    background-color: #fff;
    color: #e89e51;
    margin: 3px auto;
    width: 80%;
  }
  .derLaborales .card-head .textCardAct a:hover {
    color: #866542;
  }
  
  .derLaborales .card-head .textCardAct a.dorada {
    background-color: transparent;
    font-size: 14px;
  }
  .derLaborales .card-head .textCardAct a.dorada:hover {
    color: #866542;
  }
  
  .card-head .textCardAct2 {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .card-head .textCardAct2 h5 {
    font-size: 0.9rem !important;
    color: #fff !important;
    padding: 0;
    margin: 0;
  }
  
  .indicator {
    display: block;
    font-size: 1rem;
    z-index: 1;
    color: #b58f67;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 50%;
  }
  
  /*
  Estilos para la vista de login
  */
  .bg-login-img {
    height: 100vh;
  }
  
  @media (max-width: 575.98px) {
    .bg-login-img {
      height: 18vh;
    }
  }
  /*
  Modificaciones a los dots de la cabecera
  */
  .owl-dots {
    width: 90%;
  }
  
  .owl-dot.active span {
    background-color: #b58f67 !important;
  }
  
  @media (max-width: 575.98px) {
    .owl-stage {
      margin-bottom: 1rem !important;
    }
    .owl-theme .owl-dots, .owl-theme .owl-nav {
      display: inline-block;
      width: 90%;
      margin: 20px auto;
    }
    .ban-new .ban-card .card-body {
      margin: 10px auto;
    }
    .owl-item .item {
      margin: 5px auto;
    }
  }
  @media only screen and (max-width: 767.78px) {
    .ban-new-sec-btn {
      width: auto;
      padding: 10px;
    }
    .iq-navbar .navbar-brand a svg {
      width: 80%;
    }
    .iq-navbar .navbar-brand a svg image {
      width: 100%;
    }
    .ban-new {
      background-size: cover;
      background-origin: center;
      background-position: center center;
    }
  }
.vozlaboral-mapa_map-filter-big {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 4px solid #397C6A;
    border-bottom: 4px solid #397C6A;
    margin-top: 10px;
    margin-bottom: 10px;
}
.vozlaboral-mapa_map-filter-big form {
    display: flex;
    gap: 20px;
}
.vozlaboral-mapa_map-filter-big form > label {
    //flex: 0 0 calc(10% - 10px);
    flex: 1 0 calc(10% - 10px);
}

.vozlaboral-mapa_map-filter-big form > label .big-numbers {
    display: flex;
    gap: 10px;
    align-items: center;
    border-right: 1px solid #007E6B;
    min-height: 100px;
    height: 100px;

    flex-direction: row; /* Dirección horizontal por defecto */
    gap: 1rem; /* Espacio entre los divs (opcional) */
}

.big-numbers img {
    vertical-align: middle;
    border-style: none;
}

.vozlaboral-mapa_map-filter-big form > label .big-numbers  .filter-texto {
    span{
        margin: 0 auto;
        text-align: center;
    }
    h5{
        text-align: center;
    }

}

.vozlaboral-mapa_map-filter-big form > label .big-numbers > div {
    //flex: 0 0 calc(50% - 10px);
    flex: 0 0 calc(40% - 10px);
}

.vozlaboral-mapa_map-filter-big form > label .big-numbers > div:last-child > span {
    display: block;
    font-size: 4rem;
    font-weight: bold;
    color: #007E6B;
    line-height: 1;
}


.vozlaboral-mapa_map-filter-big form > label .big-numbers > div:last-child > h5 {
    font-weight: bold;
    font-size: 1em;
}
.vozlaboral-mapa_map-filter-big form > label input[type="radio"] {
    width: 20px;
    height: 20px;
    
}
.radio-botones  {
    
    display: flex;
    justify-content: center;
}

.radio-botones input[type="radio"]{
    width: 20px;
    height: 20px;    
    text-align: center;
    margin:10px auto;
    display: block;
}
.divsFechas{
    margin:10px auto;
    div span{
        position: absolute;
        left: 5px;
    }
}
.vozlaboral-mapa_map-filter-big form > label input:checked + .radio-class::after {
    left: 30px;
    background-color: #397C6A;
    .radio-class::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        top: 50%;
        left: 2px;
        transform: translateY(-50%);
        background-color: #7A7A7A;
        transition: all .2s ease-in;
        border-radius: 50%;
      }
}

.radio-class {
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
    border: 1px solid #7A7A7A;
    background-color: #F1F1E4;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


/*
estilos fichas
*/
.modal-dialog{
    color:#000;
}
.modal-content .modal-body, .modal-content .info_icons{
    --dot-bg: #ffffff;
    --dot-color: rgba(183, 183, 183,0.4);
    --dot-size: 3px;
    --dot-space: 20px;
    background: linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space), linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space), var(--dot-color);
}

.modal-content .modal-body .datoscabecera{
    border-bottom: 2px solid #000;
}
.modal-content .modal-body .datoscuerpo{
    padding-top: 1em;
    overflow: auto;
    max-height: 300px;
}

.modal-content .modal-header {
    padding:0;
    display: block;
    h2{
        font-size: 22px;
        line-height: 1.2;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;        
    }
    h4{
        font-size: 14px;
        line-height: 1.2;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}
.modal-dialog .title{
    background-color: #007E6B;
    color: white;
    padding: 12px;
}


.modal-dialog .info_icons{
    display: flex;
    align-items: end;
    justify-content: end;
}

.modal-dialog .icons{
    display: flex;
}
.modal-dialog .icon{
    width: 50px;
    height: 50px;
}

.modal-dialog .modal-footer .icons .img{
    width: 50px;
    height: 50px;
}
#xbtn .img {
    margin: 5px 5px;
    width: 40px;
    height: 40px;
}

.modal-dialog .modal-content button.close{

    position: absolute;
    right: 20px;
    span{
        font-size: 30px;
    }
}
@media (min-width: 576px) {
    .modal-dialog {
        width: 650px;
        max-width: 700px;
        margin: 1.75rem auto;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        width: 65   0px;
        max-width: 700px;
        margin: 1.75rem auto;
    }
}


.filter-grid {
    display: grid; /* Use CSS Grid for layout */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive columns */
    gap: 1rem; /* Add space between items */
}

.filter-label {
    display: flex; /* Use Flexbox within labels */
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center horizontally */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .filter-grid {
        grid-template-columns: repeat(2, 1fr); /* Two columns on tablets */
    }
}

@media (max-width: 576px) {
    .filter-grid {
        grid-template-columns: 1fr; /* Single column on phones */
    }
}

/* Media query para pantallas pequeñas (ajusta el valor según tus necesidades) */

/* Media query para pantallas medianas (tablets y algunos portátiles) */
@media (min-width: 768px) and (max-width: 1023px) { 

    .vozlaboral-mapa_map-filter-big form > label .big-numbers {
        flex-direction: column; /* Apilar elementos verticalmente en pantallas medianas */
        align-items: flex-start; /* Alinear elementos a la izquierda */
    }

    .vozlaboral-mapa_map-filter-big form > label .big-numbers img {
        width: 45% !important; /* Imagen ocupa todo el ancho disponible */
        margin-bottom: 0.5rem; /* Espacio inferior a la imagen */
    }

    .vozlaboral-mapa_map-filter-big form > label .big-numbers > div:last-child > span {
        font-size: 1.3rem; /* Ajustar tamaño de fuente para pantallas medianas */
    }
    .radio-botones input[type="radio"]{
        margin:40px auto;        
    }
    .divsFechas{
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    
    .vozlaboral-mapa_map-filter-big form > .filter-label{
        margin-left: -20px;
    }
    .vozlaboral-mapa_map-filter-big form > .filter-label:first-child{
        margin-left: -10px;
    }
    .vozlaboral-mapa_map-filter-big form > .filter-label.labelFechas{
        width: 35%;
    }
    .vozlaboral-mapa_map-filter-big form > .filter-label .divsFechas{
        margin:0;
        margin-top:-20px;

    }
    
    .vozlaboral-mapa_map-filter-big form > .filter-label.labelFechas .fechas .filter-img{
        width: 100% !important;
        margin: 0 auto;
    }

    .vozlaboral-mapa_map-filter-big form > label .big-numbers {
        .filter-img{
            width: 50% !important;
        }
        
        flex-direction: column; /* Cambia a dirección vertical en pantallas pequeñas */
    }
    .vozlaboral-mapa_map-filter-big form > label .big-numbers > div:last-child > span {
        font-size: 1.4rem;
        
    }    
    .vozlaboral-mapa_map-filter-big form > label .big-numbers.fechas img{
        width: 40% !important;
        margin-left:30%;
    }
    .radio-botones input[type="radio"]{
        margin:20px auto;        
    }
    .divsFechas{
        font-size: 11px;
        input{
            font-size: 10px;
        }
        
    }
    /*
    .vozlaboral-mapa_map-filter-big form > label .big-numbers.fechas{
        width: 30%;
    }*/

    .vozlaboral-mapa_map-filter-big form > label .big-numbers > div:last-child > h5 {
        font-weight: bold;
        font-size: 0.7em;
    }
    
}

.containerFiltros .card-body {
    .card-filter-img img{
        width: 60px;
    }
    display: flex; /* Activa Flexbox en el cuerpo de la tarjeta */
   
    align-items: center; /* Centra verticalmente */
}
@media (max-width: 767.98px) { 
    .row-cols-md-5 > * { /* Selecciona todos los elementos directos de la fila */
      width: 100%; /* Ocupa el 100% del ancho en pantallas pequeñas */
    }
    .containerFiltros .card {
        margin-bottom: 0px;
    }
    .containerFiltros .card-body {
        display: flex; /* Activa Flexbox en el cuerpo de la tarjeta */
        align-items: center; /* Centra verticalmente */
        padding: 0;
        height: 55px;
        .card-filter-img img{
            width: 40px;
            margin-right: 5px;
            margin-left: 5px;
        }
        .filter-texto h5{
            font-size: 0.9em;
        }
        
    }

    .containerFiltros .card-footer{
        width: 50%;
        position: absolute;
        overflow: auto;
        display: block;
        height: 55px;        
        padding: 0;
        right: -10px;
        background-color: transparent;
        border: 0;
        margin-top:-5px;
        .radio-botones{
            margin-left: 20px;
        }
        .divsFechas{
            
            margin:0;    
            input{
                margin-left: 30px;
            }        
        }
    }    
    .containerFiltros .card-footer.ffechas{
        margin-top: -50px;
    }

    .pantallasChicas .row .col .card .card-body{
     
    }
    
}

.pantallasGrandes .card{
    background-color: transparent;
    .card-body{
        height: 80px;
        .filter-texto{
            font-size: 1.5em;
            text-align: center;
            margin-left: 5px;
            h5{
                font-size: 0.8em;
            }
        }
    }
    .card-footer{
        margin-top: -10px;
        .radio-botones{
            margin-left: 25px;
        }
    }
}
.pantallasGrandes  .col-fechas .card-footer{
    margin-top: -50px;
    background-color: transparent;
    border-top: 0;
    .divsFechas div > * {
        font-size: 13px;
    }

}
@media (min-width: 768px) {
    .pantallasChicas{
        display: none;
    }
}
@media (max-width: 767.98px) { 
    .pantallasGrandes{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1022px) {
    /* Estilos a aplicar entre 768px y 1022px */
    .pantallasGrandes .card .card-footer {
        position: absolute;
        margin-top: -30px;
        left: 140px;
    }
}